@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:100,200,300,400,500,700&display=swap');
h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
}
h2,
h1{
    
    font-size: 2rem;
    margin-bottom: 0;
}
label, a, p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .9rem;
}