@import 'node_modules/bootstrap/scss/bootstrap';

@import "vendors/animations";
@import "fonts";
@import "variables";
@import "components/home";
@import "components/main";
@import "components/programa";
@import "components/beneficios";
@import "components/material";
@import "components/quiz";

/* Edit only below this line */
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18px;
    position: relative;
}

html {
    height: 100%;
}
.borderleft{
    border-left: 2px solid yellow;
        padding-left: 30px;
}

.nav-link{
    text-transform: uppercase;
    font-size: 1.25rem;
    color: white;
    font-family: 'Bebas Neue', cursive;
    border-bottom:2px solid transparent;
    &.active,
    &:hover
    {
        color: $green;
        border-bottom:2px solid $yellow;
    }
}
.scrolled{
    background-color:  $red;
    a.nav-link{
        color: white;
        
        &.active,
        &:hover,
        {
            color: $green;
        }
    }
   
}
.btn{
    font-family: 'Bebas Neue', cursive;
    padding: 0 20px;
    line-height: 36px;
    font-size: 1.3rem;
    color: $purple;
    background-color: $green;
    border-radius: 50px;
    text-transform: uppercase;
    &:hover{
        color:$green;
    background-color:  $purple;
    }
}
@media (max-width: 780px) {
    
.navbar-collapse{
    background-color: rgba(255,255,255,.8);
    text-align: center;
    margin: 0 -1rem;
    a.nav-link{
        color: $red;
        
        &:hover,
        {
            color: $green;
        }
    }
}

    .col-12.pt-5{
        padding-top: 0 !important;
    }
    img.mb-5{
        margin-bottom: 1rem !important;
    }
    .py-5{
        padding-top: 1rem !important;
        margin-top: -1px;
    }
}


.desktop{
    display: block !important;
  }
  .mobile{
    display: none !important;
  }
  @media (max-width: 768px) {
    .desktop {
      display: none !important;
    }
    .mobile {
      display: block !important;
    }
  }