#beneficios{
    background: white url(../assets/bg-beneficios.jpg) bottom no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    h2{
        color: $green;
    }
    li,p{
        font-size: .9rem;
        color: $purple;
        font-weight: 300;
    }
    .numbers{
        h3{
            color: $green;
            border: 1px solid $purple;
            border-radius: 50%;
            line-height: 120px;
            text-align: center;
            float: left;
            font-size: 3rem;
            width: 120px;
            margin: 0 15px;
        }
        p{
            float: left;
            margin-bottom: 0;
        }
        .eachnumber{
            margin-bottom: 20px;
        }
    }
    ul{
        padding-left: 0;
        padding-bottom: 1rem;
    }
    li{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        list-style: none;
        background: url(../assets/check.jpg) left center no-repeat;
        padding-left: 80px;
        min-height: 52px;
    }
}