#home{
    background: $red url(../assets/bg-home.jpg) top no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    img{
        max-height: 80vh;
    }
    a{
        margin: 0 auto;
        display: block;
        max-width: 57px;
    }
}

@media (max-width: 780px) {
    #home{
        height: auto;
    }
}