#main{
    background: $red url(../assets/bg-main.jpg) bottom no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    h1{
        border-left: 2px solid yellow;
        padding-left: 30px;
    }
    
}
#balloon{
    position: absolute;
    margin: 30px;
    max-width: 290px;
    p{
        padding: 0 .5rem .5rem;
        color: $purple;
        font-size: 1.1rem;
line-height: 1.2rem;
margin: 0;
    }
}