#material{
    position: relative;
    background: $green url(../assets/bg-material.jpg) bottom no-repeat;;
    .form{
        height: 100%;
        background-color: white;
        border-radius: 20px;
        width: 100%;
        float: left;
    }
    h3,h2{
        font-size: 2rem;
    }
}