#programa{
    position: relative;
    background: $green url(../assets/bg-programa.jpg) bottom no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3{
        font-size: 4rem;
    }
}