#quiz{
    position: relative;
    background-color: $redB;
    h2{
        margin-bottom: 1rem !important;
    }
}
#confucio{
    background: url(../assets/img-confucio.jpg) left center no-repeat; 
    p{
        font-size: 1.4rem;
line-height: 1.4;
font-style: italic;
    }
}